<nav class="row-g0 navbar navbar-expand-lg navbar-light bg-light px-2">
	<a class="navbar-brand" href="#">Board Builder</a>
	<a class="btn btn-outline-success" href="/dashboard">Discard</a>
</nav>
<div id="elm"></div>
<script src="/board.js"></script>