<nav class="row-g0 navbar navbar-expand-lg navbar-light bg-light px-2">
	<a class="col-10 m-0 navbar-brand" href="#">Board Builder</a>
	<a class="col-2 btn btn-outline-success" href="/dashboard">Dashboard</a>
</nav>
<div id="elm"></div>
<script src="/board-builder.js"></script>