<nav class="row-g navbar navbar-expand-lg navbar-light bg-light px-2">
	<a class="col-8 m-0 navbar-brand" href="#">Retro Board</a>
	<a class="col-2 m-1 btn btn-outline-primary" href="/auth/login">Login</a>
	<a class="col-2 m-1 btn btn-outline-primary" href="/auth/register">Register</a>
</nav>
<div style="margin-top: 30px">
	<!-- TODO: Promo here -->
	<a class="btn btn-primary btn-lg active" href="/auth/login">Login</a>
	<a class="btn btn-primary btn-lg active" href="/auth/register">Register</a>
</div>