<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
	<a class="navbar-brand" href="#">Retro</a>
	<a class="col-2 btn btn-outline-success" href="/dashboard">Dashboard</a>
</nav>
<div id="elm"></div>
<script src="/board-admin.js"></script>