<nav class="navbar navbar-expand-lg navbar-light bg-light px-2">
	<a class="navbar-brand" href="#">Retro Board</a>
</nav>

<div class="jumbotron">
	<h1 class="display-4">Retro Boards!</h1>
	<p class="lead">This is an application to create and reuse retro boards.</p>
	<hr class="my-4">
	<p>If you want to hold a retrospective ceremony please create an account.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg active" href="/auth/register">Register</a>
		<a class="btn btn-primary btn-lg active" href="/auth/Login">Login</a>
	</p>
</div>